html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(40, 40, 40);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
    height: 50px;
}
h1 {
    color: white;
}
h3 {
    color: white;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 30px;
}

.head-logo {
    width: 100%;
    height: 5%;
    position: relative;
    display: flex;
    justify-content: center;
    margin: 20px;
}
#btn-logo {
    position: relative;
    width: 100px;
    height: 100px;
    background-image: url(logo.png);
    background-size: 100px 100px;
    margin: 0px 10px 10px 10px;
    cursor: pointer;
    animation: logo 5s infinite linear;
}

#text-logo {
    display: flex;
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    font-weight: bold;
    align-items: center;
    text-align: center;
}

.content {
    display: flex;
    background-color: rgb(40, 40, 40);
    position: relative;
    max-width: 60%;
    min-width: 20%;
    min-height: 100%;
    margin: 0 auto;
    flex-direction: column;
}

@keyframes logo {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

/* MENU */

.menu-content {
    min-height: 300px;
    width: 95%;
    background-color: #2e2e2e;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: normal;
    flex-wrap: nowrap;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    box-shadow: 0px 0px 50px #626262;
    border-radius: 30px;
    flex-direction: column;
    padding: 10px;
}
.menu-content p {
    display: flex;
    position: relative;
    color: white;
    padding: 20px;
    font-size: 25px;
    margin: 0;
}

/* ONLINE LOG */
.online-head {
    display: flex;
    justify-content: center;
    font-size: 40px;
}

.online-log {
    position: relative;
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    
}
.name-server {
    display: flex;
    color: white;
    font-size: 30px;
    margin: 20px;
}
.server-title {
    display: flex;
    margin: 0;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.box-online {
    position: relative;
    width: 80%;
    /* max-width: 350px;
    height: 150px; */
    height: 200px;
    margin: 2% 2% 50px 2%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 50px #626262;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
    border: solid 2px rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 0.3s linear;
}
.description {
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}
.box-online-hover .description {
    visibility: visible;
    opacity: 1;
}

.map-anaxes {
    background-image: url(phase1/anaxes.png);
    background-size: cover;
}
.map-corelia {
    background-image: url(phase2/corelia.png);
    background-size: cover;
}
.box-online-hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px #626262;
    background-image: none;
    background-color: black;
    transition: all 0.3s ease-in-out;
    transform: translate(10px, 10px);
}
.active-server {
    transform: rotateX(180deg);
    background-image: none;
    background-color: black;
    cursor: pointer;
}
.desc-content1 {
    display: flex;
    visibility: visible;
    color: white;
    font-size: 20px;
    transform: rotateX(180deg);
    position: absolute;
    left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.desc-content2 {
    display: flex;
    visibility: visible;
    color: white;
    font-size: 20px;
    transform: rotateX(180deg);
    position: absolute;
    left: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.not-active {
    display: none;
    visibility: hidden;
}
.active {
    display: flex;
    visibility: visible;
}

.text-ivent {
    display: flex;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    background: rgb(0, 0, 0, 0.6);
}

.text-online1 {
    display: flex;
    background-color:mediumblue;
    justify-content: flex-end;
    font-size: 20px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    text-shadow: 0px 0px 5px white;
    letter-spacing: 2px;
    align-items: center;
}
.text-online2 {
    display: flex;
    background-color:mediumblue;
    justify-content: flex-end;
    font-size: 20px;
    color: white;
    padding: 5px;
    border-radius: 10px;
    margin: 10px;
    text-shadow: 0px 0px 5px white;
    letter-spacing: 2px;
    align-items: center;
}
.ico {
    height: 50px;
    width: 50px;
    margin: 0px 10px 0px 0px;
}

@media screen and (max-width: 1024px) {
	.content {
		max-width: 90%;
	}
}

@media screen and (max-width: 768px) {
    #btn-logo {
        position: relative;
        width: 50px;
        height: 50px;
        background-image: url(img/logo.png);
        background-size: 50px 50px;
        margin: 0px 10px 10px 10px;
        cursor: pointer;
        animation: logo 5s infinite linear;
    }
    #text-logo {
        font-size: 35px;
    }
    .menu-content h3 {
        font-size: 25px;
    }
    .content {
        min-width: 90%;
        min-height: 65%;
    }
    .menu-content {
        height: 40%;
    }
    .online-head {
        font-size: 30px;
    }
}
@media screen and (max-width: 320px) {
	.name-server {
        font-size: 15px ;
    }
}