html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(40, 40, 40);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1 {
    color: white;
}

.content {
    display: flex;
    background-color: rgb(40, 40, 40);
    position: relative;
    max-width: 1200px;
    min-width: 600px;
    height: 100%;
    margin: 0 auto;

}
.game {
    width: 100%;
    height: 200px;
    background-color: rgb(255, 255, 255);
    border-bottom: 2px solid white;
    margin: auto;
    transition: all 0.5s ease-in-out;
}
#dino {
    width: 50px;
    height: 50px;
    background-image: url(img/dino.png);
    background-size: 50px 50px;
    position: relative;
    top: 150px;
    left: 50px;
}
#cactus {
    width: 20px;
    height: 40px;
    background-image: url(img/cactus.png);
    background-size: 20px 40px;
    position: relative;
    top: 110px;
    left: 1180px;
    animation: cactusMove 1.7s infinite linear;
}
.cactus {
    animation: cactusMove 1.7s infinite linear;
}
@keyframes cactusMove {
    0% {
        left: 100%;
    }
    100% {
        left: 0%;
    }
}
.jump {
    animation: jump 0.6s linear;
}
@keyframes jump {
    0% {
        top: 150px;
    }
    30% {
        top: 120px;
    }
    50% {
        top: 80px;
    }
    80% {
        top: 120px;
    }
    100% {
        top: 150px;
    }
}

/* MENU */

.menu-content {
    height: 300px;
    width: 100%;
    background-color: rgb(46 46 46);
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 0.5s ease-in-out;
    opacity: 1;
    box-shadow: 10px 5px 100px rgb(98, 98, 98);
}
.menu {
    height: 300px;
    width: 100%;
    background-color: rgb(46 46 46);
    margin: auto;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}
.legion {
    display: flex;
    position: relative;
    border: 0px solid rgb(0, 0, 0);
    padding: 30px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    transition: border 1s linear;
    cursor: pointer;
}
.menu-btn {
    width: 200px;
    height: 50px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 2px solid #ff0000;
    margin: 10px;
    color: red;
    letter-spacing: 3px;
    font-size: 25px;
    transition: all 0.1s linear;
    background-color: transparent;
}
.menu-btn:hover::after {
    content: "";
    background: red;
    position: absolute;
    width: 100px;
    height: 2px;
    top: 60px;
    transition: all 0.1s linear;
}
.menu-btn-a41 {
    transition: all 0.1s linear;
    color: white;
    border: 2px solid green;
    background-color: green;
}
.menu-btn-a501 {
    transition: all 0.1s linear;
    color: white;
    border: 2px solid blue;
    background-color: blue;
}
.menu-btn-a212 {
    transition: all 0.1s linear;
    color: black;
    border: 2px solid orange;
    background-color: orange;
}
.menu-btn-CT {
    transition: all 0.1s linear;
    color: black;
    border: 2px solid #b9b9b9;
    background-color: #b9b9b9;
}
.menu-btn-GVARD {
    transition: all 0.1s linear;
    color: white;
    border: 2px solid #0f0e0e;
    background-color: #0f0e0e;
}
.menu-btn-IPK {
    transition: all 0.1s linear;
    color: black;
    border: 2px solid yellow;
    background-color: yellow;
}
.menu-btn-MED {
    transition: all 0.1s linear;
    color: BLACK;
    border: 2px solid pink;
    background-color: pink;
}
.menu-btn-TRENER {
    transition: all 0.1s linear;
    color: white;
    border: 2px solid gray;
    background-color: gray;
}
.menu-btn-ODISB {
    transition: all 0.1s linear;
    color: black;
    border: 2px solid #00c2c9;
    background-color: #00c2c9;
}

.a41 {
    
    transition: border 0.1s linear;

    background-image: url(img/41/41.png);
    background-size: cover;
}
.a41:hover {
    border: 5px solid green;
}
.a41-active {
    border: 5px solid green;
}
.a212 {
    
    transition: border 0.1s linear;

    background-image: url(img/212/212.png);
    background-size: cover;
}
.a212:hover {
    border: 5px solid orange;
}
.a212-active {
    border: 5px solid orange;
}
.a501 {
    
    transition: border 0.1s linear;

    background-image: url(img/501/501.png);
    background-size: cover;
}
.a501:hover {
    border: 5px solid blue;
}
.a501-active {
    border: 5px solid blue;
}
.CT {
    
    transition: border 0.1s linear;

    background-image: url(img/CT/CT.png);
    background-size: cover;
}
.CT:hover {
    border: 5px solid #b9b9b9;
}
.CT-active {
    border: 5px solid #b9b9b9;
}
.GVARD {
    
    transition: border 0.1s linear;

    background-image: url(img/gvard/gvard.png);
    background-size: cover;
}
.GVARD:hover {
    border: 5px solid #0f0e0e;
}
.GVARD-active {
    border: 5px solid #0f0e0e;
}
.IPK {
    
    transition: border 0.1s linear;

    background-image: url(img/IPK/IPK.png);
    background-size: cover;
}
.IPK:hover {
    border: 5px solid yellow;
}
.IPK-active {
    border: 5px solid yellow;
}
.MED {
    
    transition: border 0.1s linear;

    background-image: url(img/MED/MED.png);
    background-size: cover;
}
.MED:hover {
    border: 5px solid pink;
}
.MED-active {
    border: 5px solid pink;
}
.TRENER {
    
    transition: border 0.1s linear;

    background-image: url(img/TRENER/TRENER.png);
    background-size: cover;
}
.TRENER:hover {
    border: 5px solid gray;
}
.TRENER-active {
    border: 5px solid gray;
}
.ODISB {
    
    transition: border 0.1s linear;

    background-image: url(img/ODISB/ODISB.png);
    background-size: cover;
}
.ODISB:hover {
    border: 5px solid #00c2c9;
}
.ODISB-active {
    border: 5px solid rgb(0, 194, 201);
}

.not-active2 {
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.not-active {
    display: none;
    opacity: 0;
    
}
.active {
    display: block;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
